/**
  |============================
  | Common styles
  |============================
*/
:root {
    --white-color: #ffffff;
    --navy-blue-color: #2e2f42;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/**
  |============================
  | Reset
  |============================
*/
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
    margin: 0;
}
img {
    display: block;
}
/**
  |============================
  | Base styles
  |============================
*/
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-bottom: 120px;
}
.btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
/**
  |============================
  | Header
  |============================
*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}
.page-nav {
    margin-right: 332px;
}
.page-nav .studio-word {
    color: var(--navy-blue-color);
}
.nav-links {
    display: flex;
    gap: 40px;
}
.nav-item {
    padding: 24px 0;
}
.nav-links .link {
    font-weight: 500;
    color: var(--navy-blue-color);
} 
.nav-links .link:hover,
.nav-links .link:focus {
    color: var(--ocean-color);
} 
.page-addr {
    font-style: normal;
}
.address-links {
    display: flex;
    gap: 40px;
}
.page-addr .link {
    color: var(--slate-color);
}
.page-addr .link:hover,
.page-addr .link:focus {
    color: var(--ocean-color);
}
/**
  |============================
  | Main Studio
  |============================
*/
/* Hero */
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--navy-blue-color);
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iris-color);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}
/* Features */
.features-section {
    padding-top: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-list .title {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}
/* Company's products */
.section-title {
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}
.examples-list {
    display: flex;
    gap: 24px;
}
/* Team */
.team-section {
    padding-top: 120px;
    background-color: var(--cloud-color);
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-card {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
}
.card {
    padding: 32px 16px;
}
.team-member {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--navy-blue-color);
    text-align: center;
    margin-bottom: 8px
}
.position {
    text-align: center;
}
/**
  |============================
  | Main Portfolio
  |============================
*/
/* Filtration */
.filtration-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filtration-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
}
/* Production */
.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.card-prod {
    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
.production-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue-color);
}
.logo-foot {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    display: inline-block;
    margin-bottom: 16px;
}
.studio-word-foot {
    color: var(--cloud-color);
}
.footer-text {
    color: var(--cloud-color);
    max-width: 264px;
}